<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>


    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if (accountService.currentuser()) {
      <li class="nav-item">
        <a class="nav-link " routerLink="/members" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/list" routerLinkActive="active">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
      </li>
      }
      <li class="nav-item">
        <a class="nav-link " routerLink="/errors" routerLinkActive="active">error</a>
      </li>

    </ul>

    @if(accountService.currentuser()){
    <div class="dropdown" dropdown>
      <img class="me-2" src="{{accountService.currentuser()?.photoUrl || './assets/user.png'}}" alt="user main image">
      <a class="droopdown-toggle text-light" dropdownToggle>
        Welcome {{ accountService.currentuser()?.username | titlecase }}
      </a>
      <div class="dropdown-menu transparent" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <li class="divider dropdown-divider"></li>
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>

      </div>
    </div>
    }

    @if(!accountService.currentuser()){
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" role="search">
      <input class="form-control me-2" type="text" [(ngModel)]="model.username" name="username" placeholder="User Name">
      <input class="form-control me-2" type="password" [(ngModel)]="model.password" name="password"
        placeholder="Password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
    }


  </div>
</nav>